/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    color: #333;
  }
  
  .dashboard {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  /* Sidebar */
  .sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .sidebar .logo .img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar .logo h1 {
    font-size: 26px;
    margin: 0;
    color: #007bff;
  }
  
  .sidebar .logo p {
    font-size: 28px;
    font-weight: bold;
    color: #960000;
  }
  
  .sidebar .stats {
    margin-top: 20px;
  }
  
  .sidebar .stat {
    margin-bottom: 15px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .sidebar .stat h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
  }
  
  .sidebar .stat p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #0090ac;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .chart-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .chart-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #0090ac;
  }
  
  canvas {
    width: 100% !important;
    height: 300px !important;
  }


  